<div class="container">
    <div class="row">
        <div class="col-md-8 m-auto">
            <div class="card card-body">
                <h4 class="text-center text-primary">ONLINE EVENT ADVERTISING AND BOOKING SYSTEM</h4>
                <p class="text-center">Log In Or Sign Up and Book Events</p>
                <a href="/login" class="btn btn-block btn-warning">Log In</a>
                <p class="text-center">OR</p>
                <a href="/register" class="btn btn-block btn-success">Register</a>
                    <hr>
                <div class="col-col-lg-10 m-auto">
                    <div class="card card-body">
                        <p class="text-center">This project is designed by:</p>
                        <p class="text-center"><strong>Nyakundi Okero George</strong></p>
                        <p class="text-center"><strong>georgeNyakundio871@gmail.com</strong></p>
                        <p class="text-center"><strong>@ 2020</strong></p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
